body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 30px;
    height: 100%;
    
}

/* Now that we have set up our information in a flexgrid, we need to define which divs will go where on the page */

nav {
    grid-column: 1/4;
    background-color: aquamarine;
    width: 100%
}
.left {
    grid-column: 1/1;
}

.middle {
    grid-column: 2/2;
}

.right {
    grid-column: 3/3;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

nav, footer {
    display: flex;
    flex-direction: row;
}

.nav {
    margin: auto;
}

footer {
    grid-row: 3/3;
    grid-column: 1/4;
    background-color: brown;
}

.news-card {
    flex-direction: column;
    height: 200px;
    width: 400px;
    margin: 10px;
    background-color: blue;
}