* {
    font-family: 'Bebas Neue', cursive;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 40px;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255,.5)),url("https://images.pexels.com/photos/2570139/pexels-photo-2570139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: var(--secondary-color);
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
}

/* Now that we have set up our information in a flexgrid, we need to define which divs will go where on the page */

nav {
    grid-column: 1/4;
    background-color: #0B4F6C;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}

/* nav:hover {
    height: 100px;
} */

.left {
    grid-column: 1/1;
}

.middle {
    grid-column: 2/2;
}

.right {
    grid-column: 3/3;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    font-size: larger;
}

.nav {
    color: azure;
    font-size: 20px;
    width: 100%;
}

.foot {
    color: white;
    margin: 5px;
    

}

footer {
    display: flexbox;
    grid-row: 3/3;
    width: 100%;
    background-color: #F72C25;
    text-align: center;
    position: absolute; bottom: 0;
}

.stat-card {
    flex-direction: column;
    height: 100%;
    width: auto;
    margin: 10px;
    
}

div {
    margin: 10px;
    padding: 5px;
}

body > div {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

nav > div {
    flex: 1;
    text-align: right;
}

p {
    font-family: 'Arimo', sans-serif;

}

.disclaimer {
    font-size: small
}

#bolt {
    height: 30px;
    cursor: pointer;
}

#bengal {
    height: 30px;
    cursor: pointer;
}

:root{
   --primary-color: white;
   --secondary-color: #212121; 
}

.bolt-theme {
     --primary-color: #2280c5;
    --secondary-color: #fbc210;
}