body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 30px;
    
}

/* Now that we have set up our information in a flexgrid, we need to define which divs will go where on the page */


.left {
    grid-column: 1/1;
}

.middle {
    grid-column: 2/2;
}

.right {
    grid-column: 3/3;
}